:root{
    --dark-col:#212121;
    --blue-col:#2196F3;
    --white-col:#FFFFFF;
    --grey-col:#757575;
    --dark-background:#2F303A;
    --blue-background:#2196F3;
    --white-text-color:#FFFFFF;
    --white-background:#FFFFFF;
    --col-white-border:#ECECEC;
    --light-grey-backgrond:#F5F4FA;
}

.body  {
    font-family: "Roboto", sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid; */
}

.list{
    list-style: none;
}
.link
{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin-top: 0;
    margin-bottom: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.header .container {
    background-color: var(--white-background);
    display: flex;
    align-items: center;
}
.header{
    background-color: var(--white-background);
    border: 1px solid var(--col-white-border);
    border-top: var(--white-background);
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
    margin-right: 93px;

}
.header-list{
    display: flex;
}
.header-list .item + .item{
    margin-left: 50px;
}
.header-logo-web {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-col)
}
.header-link
{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color:var(--grey-col);

}

.header-link:hover
{
color: var(--blue-col);
}
.list-active-link
{
    color:var(--blue-col);
}
.header-contacts{
    display: flex;
    margin-left: auto;
}
.header-contacts .item + .item{
    margin-left: 50px;
}
.header-tel
{   display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-col)
}
.header-tel:hover {
    color:var(--blue-col);
}

.header-email 
{   display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-col)
}
.header-email:hover
{
    color:var(--blue-col)
}
.main-title
{
text-align: center;

    background:var(--dark-background);
}
.main-words {
        font-size: 44px;
        line-height:calc(60/44);
        /* or 136% */
        padding-bottom: 40px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-top: 100px;

        color:var(--white-col);
}
.main-button {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    font-family: inherit;
    cursor: pointer;
    background: var(--blue-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.main-hero {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.main-text{
    display: flex;
    margin-left: 30px;
}
.main-text .item + .item{
    margin-left: 30px;
}
.benefits-title{
font-size: 14px;
line-height:calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--dark-col);
}
.main-explenation{

    font-size: 14px;
    line-height:calc(24/14);
    /* or 171% */

    letter-spacing: 0.03em;

    color:var(--grey-col)
}
.main-working
{
        padding-bottom: 50px;
        font-size: 36px;
        line-height:calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}
.main-photos {
    display: flex;
    justify-content: center;
}

.main-photos .item + .item {
    margin-left: 30px;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}
.main-photos
{
    font-size: 36px;
    line-height:calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--dark-col);
}
.ourteam{
background-color: var(--light-grey-backgrond);
}
.main-team
{
    padding-bottom: 50px;
    font-size: 36px;
    line-height:calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--dark-col);
}
.main-teamleaders{
    display: flex;
    justify-content: center;
}
.main-teamleaders .item + .item{
    display: block;
    margin-left: 30px;
}
.selfie{
    padding-bottom: 30px;
}
.main-teamleaders-name{
    margin-bottom: 10px;
}
.main-teamleaders-hero{
    background-color: var(--white-background);
}
.main-teamlreaders-job{
    margin-bottom: 30px;
}
.main-teamleaders-name
{
    font-size: 16px;
    line-height:calc(19/16);
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color:var(--dark-col);
}
.main-teamlreaders-job
{
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--grey-col);
}

.footer-logo{
    display: block;
    padding-top: 60px;
    text-decoration: none;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--white-col)
}
.footer-logo text span{
    color: var(--blue-col);
}
     .footer-header{
    font-size: 26px;
    line-height:calc(31/26);
    /* identical to box height */

    letter-spacing: 0.03em;

    color: var(--blue-col);
    
}
.footer-feedback{
    display: block;
    padding-bottom: 60px;
    padding-top: 20px;
}
.footer-map
{
        font-size: 14px;
        line-height:calc(24/14);
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color:var(--white-col);
}
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--grey-col)
}

.footer-tel:hover {
    color:var(--blue-col);
}

.footer-email {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color:var(--grey-col)
}

.footer-email:hover {
    color: var(--blue-col)
}
.footer-map {
    text-decoration: none;
    font-style: normal;
}
.footer {
    background:var(--dark-background)
}

.main-buttons{
    display:flex;
   justify-content: center;
  
}
.all-buttons{
    padding-bottom: 50px;
    padding-top: 94px;
}
.attachment {
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    font-family: inherit;
    text-align: center;
    letter-spacing: 0.03em;
    
    color:var(--dark-col);
}
.attachment:hover{
    color: var(--white-col);
}
.tack{
    background: var(--light-grey-backgrond);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.tack:hover{
background-color: var(--blue-background);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.main-buttons .item + .item{
    margin-left: 30px;
}
.main-group{
    padding-top: 34px;
}
.main-images{
display:flex;
flex-wrap: wrap;
padding-left: 0px;
gap: 30px;
}
.main-images .item + .item{
padding-left: 0px;
}
.text{
    font-size: 18px;
    line-height:calc(36/18);
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    
    color:var(--dark-col)
}
.title{
    font-size: 16px;
    line-height:calc(30/16);
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color:var(--grey-col)
}
.text{
margin-top: 20px;
margin-left: 24px;
}
.title{
margin-top: 4px;
margin-left: 24px;
}
