:root{
    --dark-col:#212121;
    --blue-col:#2196F3;
    --white-col:#FFFFFF;
    --grey-col:#757575;
    --dark-background:#2F303A;
}

.body  {
    font-family: "Roboto", sans-serif;
}
.list{
    list-style: none;
}
.link
{
    text-decoration: none;
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
}

.header-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-col)
}
.header-list-link
{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color:var(--dark-col);
    
}
.header-list-link:hover
{
color: var(--blue-col);
}
.list-active-link
{
    color:var(--blue-col);
}
.header-tel-link
{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color:var(--grey-col);
}
.header-tel-link:hover {
    color:var(--blue-col);
}

.list-active-link {
    color:var(--blue-col);
}
.header-mailto-link 
{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
    
        color:var(--blue-col);
}
.header-mailto-link
{
    color:var(--blue-col)
}
.list-active-link {
    color:var(--blue-col)
}

.main-title
{
width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background:var(--dark-background);
}
.main-words {
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color:var(--white-col);
}
.main-button link:hover
{
position: absolute;
    width: 152px;
    height: 30px;
    left: 724px;
    top: 440px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color:var(--white-col);
        
}
.main-attention
{
font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:var(--dark-col);
}
.main-explenation
{
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color:var(--grey-col);
}
.main-working
{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}
.main-photos-gadgets
{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}
.main-team
{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}

.main-teamleaders-name
{
font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color:var(--dark-col);
}
.main-teamlreaders-job
{
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--grey-col);
}
.footer-logo
{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--dark-col)
}
        .footer-header{
font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: var(--blue-col);
}
        

.footer-map
{
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color:var(--white-col);
}
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.footer-tel:hover {
    color:var(--blue-col);
}

.list-active-link {
    color:var(--blue-col);
}

.footer-email {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color:var(--blue-col);
}

.footer-email {
    color:var(--blue-col);
}
