:root{
    --dark-col:#212121;
    --blue-col:#2196F3;
    --white-col:#FFFFFF;
    --grey-col:#757575;
    --dark-background:#2F303A;
    --blue-background:#2196F3;
    --white-text-color:#FFFFFF;
    --white-background:#FFFFFF;
}

.body  {
    font-family: "Roboto", sans-serif;
}
.list{
    list-style: none;
}
.link
{
    text-decoration: none;
}
.header {
    background-color: var(--white-background);
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
}

.header-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-col)
}
.header-list-link
{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color:var(--grey-col);

}

.header-list-link:hover
{
color: var(--blue-col);
}
.list-active-link
{
    color:var(--blue-col);
}
.header-tel
{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-col)
}
.header-tel:hover {
    color:var(--blue-col);
}

.header-email 
{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-col)
}
.header-email:hover
{
    color:var(--blue-col)
}
.main-title
{

    background:var(--dark-background);
}
.main-words {

        font-weight: 900;
        font-size: 44px;
        line-height:calc(60/44);
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color:var(--white-col);
}
.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    font-family: inherit;
    cursor: pointer;
    background: var(--blue-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.main-hero {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.main-attention

.benefits-tiitle{
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--dark-col);
}
.main-explenation
{letter-spacing: 0.03em;

    color:var(--grey-col);
    font-size: 14px;
    line-height:calc(24/14)
    /* or 171% */

}
.main-working
{
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}
.main-photos-gadgets
{
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}
.main-team
{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--dark-col);
}

.main-teamleaders-name
{
    font-size: 16px;
    line-height:calc(19/16);
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color:var(--dark-col);
}
.main-teamlreaders-job
{
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color:var(--grey-col);
}

.footer-logo{
    text-decoration: none;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--white-col)
}
.footer-logo text span{
    color: var(--blue-col);
}
     .footer-header{
    font-size: 26px;
    line-height:calc(31/26);
    /* identical to box height */

    letter-spacing: 0.03em;

    color: var(--blue-col);
    
}
        

.footer-map
{
        font-size: 14px;
        line-height:calc(24/14);
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color:var(--white-col);
}
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--grey-col)
}

.footer-tel:hover {
    color:var(--blue-col);
}

.footer-email {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color:var(--grey-col)
}

.footer-email:hover {
    color: var(--blue-col)
}
.footer-map {
    text-decoration: none;
    font-style: normal;
}
.footer {
    background:var(--dark-background)
}
.main-buttons
{font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height:calc(26/16);
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;

    color:var(--dark-col)
}
.main-images
{
    text-decoration: none;
    list-style: none;
}